<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="css/style.css" rel="stylesheet">
</head>

<body>

  <table border="1">
	<tr th:each="lead : ${leads}">
		<td th:text="${lead.id}" />
		<td th:text="${lead.company}" />
		<td th:text="${lead.city}" />
		<td th:text="${lead.area}" />
		<td th:text="${lead.employeeCount}" />
		<td th:utext="${lead.website}" />
	</tr>	
  </table>

  <script src="js/script.js"></script>
</body>

</html>